<link href="~/css/product.css" rel="stylesheet" />
<script src="~/js/jsevent.js?@DateTime.Now.Ticks"></script>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2" style="width:100%;margin-left: 170px;">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h1 id="heading">Satış İade Servisi</h1>
                <p>Adımlar tamamlandıkça ilerleme butonu açılacaktır.</p>

                <form id="msform">
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li class="active" id="order"><strong>Sipariş Bul</strong></li>
                        <li id="orderlist"><strong>Sipariş Detayları</strong></li>
                        <li id="payment"><strong>Ödeme Yöntemi</strong></li>
                        <li id="confirm"><strong>Tamamla</strong></li>
                    </ul>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <br>
                    <!-- fieldsets -->
                    <fieldset >
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Sipariş Arama İşlemi</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Adım 1 - 4</h2>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="d-flex form-inputs">
                                    <input class="form-control " type="text" id="searchbarReturnOrder" placeholder="Sipariş No yada Müşteri Adı ile arayın..">
                                    <i class="bx bx-search"></i>
                                </div>
                            </div>
                            
                        </div>

                        <div id="listSeachOrder" style="height:600px;overflow-y:auto;margin-top:20px;width:100%;overflow-x:hidden">Arama Sonuçları</div>
                        <input  type="button" style="display:none" id="firststep" name="next" class="next action-button" value="İleri" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title"><span id="orderdetailtitle"> </span> Sipariş Detayları  </h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Adım 2 - 4</h2>
                                </div>
                            </div>
                            <div id="listOrderDetail" style="height:650px;overflow-y:auto;margin-top:20px;width:100%;overflow-x:hidden">xxx</div>
                        </div>
                        <input type="button" name="next" id="secondstep" class="next action-button" value="İleri" />
                        <input type="button" name="previous" class="previous action-button-previous" value="Geri" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card" >
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Ödeme Yöntemi Seçin : <span id="returnordertotal"> </span></h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Adım 3 - 4</h2>
                                </div>
                            </div>
                           <center> <div id="payout" style="height:500px">
                                    <button type="button" class="btn btn-primary btn-lg " style="" data-id="" id="cashReturn" onclick="payout(this,0,'ccash',1)">
                                    <i class="bi bi-cash-coin"></i> Nakit
                                </button>
                                    <button type="button" class="btn btn-success btn-lg " style="margin-left:10px" id="cardReturn" onclick="payout(this,0,'ccard',1)">
                                    <i class="bi bi-credit-card-2-back"></i> Kredi Kartı
                                </button>
                                    <button type="button" class="btn btn-warning btn-lg " style="margin-left:10px" id="openReturn" onclick="payout(this,0,'open',1)">
                                    <i class="bi bi-door-open"></i> Açık Hesap
                                </button>
                                    <button type="button" class="btn btn-danger btn-lg " style="margin-left:10px" id="piecedpayment" >
                                    <i class="bi bi-pie-chart"></i> Parçalı Ödeme
                                </button>
                                    <!--ödeme başlangıç -->
                                    <div class="tab-pane" id="OdemeSekli" style="display:none">
                                        <div class=" row m-0 mt-2" id="payment-design">
                                            <div class="col-12 pt-1 pb-1">
                                                <div class="main-traffic-detail-item">
                                                    <div>
                                                        <span class="font-weight-bold">Tutar</span> <span><span class="oranSpan font-weight-bold" style="color:black">0</span></span>
                                                    </div>
                                                    <div class="progress progress-bar-xs" style="background-color:white">
                                                        @*  <div aria-value-max="@String.Format("{0:F2}", Model.FirstOrDefault().Basket.InvoiceTotal +  Model.FirstOrDefault().Basket.InvoicTaxTotal).Replace(",",".")" aria-valuemin="0" aria-valuenow="20" class="progress-bar progress-bar-xs oranSpanPr bg-success" role="progressbar"></div>*@
                                                        <progress id="myProgress" style="width:100%;height:1.2rem" value="0" min="0"  class="class=" progress-bar progress-bar-xs oranSpanPr bg-success"></progress>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm">
                                                    <input type="number" id="paymentOran" name="paymentOran" class="form-control">
                                                </div>
                                                <div class="col-sm">
                                                    <select id="paymentType" class="form-control">
                                                        <option value="Nakit">Nakit</option>
                                                        <option value="Kredi Kartı">Kredi Kartı</option>
                                                        <option value="Sodexo">Sodexo</option>
                                                        <option value="Multinet">Multinet</option>
                                                        <option value="Ticked(Edenred)">Multinet</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm">
                                                    <button type="button" id="paymentAdd" data-line="1" class="btn btn-danger" style="min-height:33px"><i class="fa fa-plus"></i></button>
                                                </div>
                                            </div>
                                            <div class="col-12" style="margin-top:10px">
                                                <div class="table-responsive tasks">
                                                    <table class="table card-table table-vcenter text-nowrap border">
                                                        <tbody id="paymentTBody">
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <button type="button" id="paymentSave" data-line="1" class="btn btn-success" style="min-height:33px;display:none"><i class="bi bi-asterisk"></i> Ödeme Tamamla </button>
                                        </div>
                                    </div>
                                    <!--ödeme son -->
                            </div>
                            </center>
                        </div>
                        <input type="button" name="next" id="laststep" class="next action-button" value="Bitir" />
                        <input type="button" name="previous" class="previous action-button-previous" value="Geri" />
                       
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">İşlem Sonucu:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Adım 4 - 4</h2>
                                </div>
                            </div>
                            <br><br>
                            <h2 class="purple-text text-center"><strong>BAŞARILI !</strong></h2>
                            <br>
                            <div class="row justify-content-center">
                                <div class="col-3">
                                    <img src="https://i.imgur.com/GwStPmg.png" class="fit-image">
                                </div>
                            </div>
                            <br><br>
                            <div class="row justify-content-center">
                                <div class="col-7 text-center">
                                    <h5 class="purple-text text-center">Satış iade işlemi başarıyla tamamlandı.</h5>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
 
 *{
        font-family: 'Helvetica Neue' sans-serif;
 }

    #heading {
        text-transform: uppercase;
        color: #673AB7;
        font-weight: normal;
    }

    #msform {
        text-align: center;
        position: relative;
        margin-top: 20px;
    }

        #msform fieldset {
            background: white;
            border: 0 none;
            border-radius: 0.5rem;
            box-sizing: border-box;
            padding-bottom: 20px;
            /*stacking fieldsets above each other*/
            position: relative;
            width: 90%;
            margin: 70px;
            overflow-x:hidden;

        }

    .form-card {
        text-align: left;
    }

    /*Hide all except first fieldset*/
    #msform fieldset:not(:first-of-type) {
        display: none;
    }

    #msform input, #msform textarea, #msform select {
        padding: 8px 15px 8px 15px;
        border: 1px solid #ccc;
        border-radius: 0px;
        margin-bottom: 25px;
        margin-top: 2px;
        width: 100%;
        box-sizing: border-box;
        font-family: montserrat;
        color: #2C3E50;
        background-color: #ECEFF1;
        font-size: 16px;
        letter-spacing: 1px;
    }

        #msform input:focus, #msform textarea:focus, #msform select {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            border: 1px solid #673AB7;
            outline-width: 0;
        }

    /*Next Buttons*/
    #msform .action-button {
        width: 100px;
        background: #673AB7;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 0px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 0px 10px 5px;
        float: right;
    }

        #msform .action-button:hover, #msform .action-button:focus {
            background-color: #311B92;
        }

    /*Previous Buttons*/
    #msform .action-button-previous {
        width: 100px;
        background: #616161;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 0px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 5px 10px 0px;
        float: right;
    }

        #msform .action-button-previous:hover, #msform .action-button-previous:focus {
            background-color: #000000;
        }

    /*The background card*/
    .card {
        z-index: 0;
        border: none;
        position: relative;
    }

    /*FieldSet headings*/
    .fs-title {
        font-size: 25px;
        color: #673AB7;
        margin-bottom: 15px;
        font-weight: normal;
        text-align: left;
    }

    .purple-text {
        color: #673AB7;
        font-weight: normal;
    }

    /*Step Count*/
    .steps {
        font-size: 25px;
        color: gray;
        margin-bottom: 10px;
        font-weight: normal;
        text-align: right;
    }

    /*Field names*/
    .fieldlabels {
        color: gray;
        text-align: left;
    }

    /*Icon progressbar*/
    #progressbar {
        margin-bottom: 30px;
        overflow: hidden;
        color: lightgrey;
    }

        #progressbar .active {
            color: #673AB7;
        }

        #progressbar li {
            list-style-type: none;
            font-size: 15px;
            width: 25%;
            float: left;
            position: relative;
            font-weight: 400;
        }

        /*Icons in the ProgressBar*/
        #progressbar #order:before {
            font-family: FontAwesome;
            content: "\f218";
        }

        #progressbar #orderlist:before {
            font-family: FontAwesome;
            content: "\f0cb";
        }

        #progressbar #payment:before {
            font-family: FontAwesome;
            content: "\f0d6";
        }

        #progressbar #confirm:before {
            font-family: FontAwesome;
            content: "\f00c";
        }

        /*Icon ProgressBar before any progress*/
        #progressbar li:before {
            width: 50px;
            height: 50px;
            line-height: 45px;
            display: block;
            font-size: 20px;
            color: #ffffff;
            background: lightgray;
            border-radius: 50%;
            margin: 0 auto 10px auto;
            padding: 2px;
        }

        /*ProgressBar connectors*/
        #progressbar li:after {
            content: '';
            width: 100%;
            height: 2px;
            background: lightgray;
            position: absolute;
            left: 0;
            top: 25px;
            z-index: -1;
        }

        /*Color number of the step and the connector before it*/
        #progressbar li.active:before, #progressbar li.active:after {
            background: #673AB7;
        }

    /*Animated Progress Bar*/
    .progress {
        height: 20px;
    }

    .progress-bar {
        background-color: #673AB7;
    }

    /*Fit image in bootstrap div*/
    .fit-image {
        width: 100%;
        object-fit: cover;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {

        //var current_fs, next_fs, previous_fs; //fieldsets
        //var opacity;
        //var current = 1;
        //var steps = $("fieldset").length;

        setProgressBar(current);

        //$(".next").click(function () {

        //    current_fs = $(this).parent();
        //    next_fs = $(this).parent().next();

        //    //Add Class Active
        //    $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

        //    //show the next fieldset
        //    next_fs.show();
        //    //hide the current fieldset with style
        //    current_fs.animate({ opacity: 0 }, {
        //        step: function (now) {
        //            // for making fielset appear animation
        //            opacity = 1 - now;

        //            current_fs.css({
        //                'display': 'none',
        //                'position': 'relative'
        //            });
        //            next_fs.css({ 'opacity': opacity });
        //        },
        //        duration: 500
        //    });
        //    setProgressBar(++current);
        //});

        //$(".previous").click(function () {

        //    current_fs = $(this).parent();
        //    previous_fs = $(this).parent().prev();

        //    //Remove class active
        //    $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

        //    //show the previous fieldset
        //    previous_fs.show();

        //    //hide the current fieldset with style
        //    current_fs.animate({ opacity: 0 }, {
        //        step: function (now) {
        //            // for making fielset appear animation
        //            opacity = 1 - now;

        //            current_fs.css({
        //                'display': 'none',
        //                'position': 'relative'
        //            });
        //            previous_fs.css({ 'opacity': opacity });
        //        },
        //        duration: 500
        //    });
        //    setProgressBar(--current);
        //});

        //function setProgressBar(curStep) {
        //    var percent = parseFloat(100 / steps) * curStep;
        //    percent = percent.toFixed();
        //    $(".progress-bar")
        //        .css("width", percent + "%")
        //}

        $(".submit").click(function () {
            return false;
        })

    });
</script>         