body {
    background-color: lightgray;
}

.form-inputs {
    position: relative;
}

    .form-inputs .form-control {
        height: 45px;
    }

        .form-inputs .form-control:focus {
            box-shadow: none;
            border: 1px solid #000;
        }

    .form-inputs i {
        position: absolute;
        right: 10px;
        top: 15px;
    }

.shop-bag {
    background-color: #000;
    color: #fff;
    height: 50px;
    width: 50px;
    font-size: 25px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.qty {
    font-size: 12px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    float:left;
}
  

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 45%;
    min-width:600px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.closemodal {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .closemodal:hover,
    .closemodal:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.modal-header {
    padding: 2px 16px;
    background-color: #a3a3a3;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    margin-top:10px;
    margin-bottom:10px;
    height:455px;
    overflow-y:auto;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #a3a3a3;
    color: white;
    
}




.main-traffic-detail-item > div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 7px;
}

    .main-traffic-detail-item > div:first-child > span:first-child {
        color: #51586f;
        font-size: 14px;
    }

    .main-traffic-detail-item > div:first-child > span:last-child {
        font-size: 11px;
        font-weight: 700;
        color: #5e5e77;
    }

        .main-traffic-detail-item > div:first-child > span:last-child span {
            color: #a8afc7;
            font-weight: 400;
        }

.main-traffic-detail-item + .main-traffic-detail-item {
    margin-top: 18px;
}
